


body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #1100ff, #00aeff);
    background-attachment: fixed; /* opcionális */
}

.asd{
    display: flex;

    .slotts{
    display: flex;
    justify-content: space-between;
    margin: 35px 40px;
    height: 200px;

}

.slott{
    animation-duration: 1.5s;
    animation-name: elojovetel;
    background-color: rgb(255, 255, 255, 0.4);
    height: 200px;
    width: 300px;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center; /* vízszint */
    align-items: center;    
}

}



@keyframes elojovetel{
    0%{
        opacity: 0%; 
        margin-top: 200px;
    }
    60%{
        opacity: 20%;
    }
    80%{
        opacity: 100%;
    }
}

.slotts{
    display: flex;
    justify-content: space-between;
    margin: 35px 40px;
    height: 200px;

}

.slott{
    animation-duration: 1.5s;
    animation-name: elojovetel;
    background-color: rgb(255, 255, 255, 0.4);
    height: 200px;
    width: 300px;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center; /* vízszint */
    align-items: center;    
}

.alink{
    height: 200px;
}

.slott img{
    display: block;
    height: 180px;
    justify-content: center;
}

/* =========================
   MOBIL NÉZET – 420px
   ========================= */
@media (max-width: 420px) {


    /* slott sorok */
    .slotts {
        flex-wrap: wrap;
        justify-content: center;
        margin: 15px 10px;
        gap: 12px;
    }

    /* slott kártyák */
    .slott {
        width: 100%;
        height: 160px;
    }

    .slott img {
        height: 1300px;
    }
}

@media (max-width: 420px) {
    body{
        height: 1950px;
    }

    .ki{
        display: none;
    }

    .slotts {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 12px;
    }

    .slott {
        width: 100%;
        height: 160px;
        border-radius: 22px;
        background: linear-gradient(135deg, #5aa9ff, #7fd7ff);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slott img {
        height: 80%;
        object-fit: contain;
    }


}
